{
  "eliteString" : "Elite",
  "eliteMonsterString" : "Elite Monster",
  "skillPrefixes" : [
    {"name" : "Acid", "skillName" : "aci"}
    ,{"name" : "Fire", "skillName" : "fir"}
    ,{"name" : "Ice", "skillName" : "ic"}
    ,{"name" : "Electric", "skillName" : "elec"}
    ,{"name" : "Water", "skillName" : "wat"}
    ,{"name" : "Shadow", "skillName" : "sha"}
    ,{"name" : "Acidic", "skillName" : "acidicspitattack"}
    ,{"name" : "Poisonous", "skillName" : "acidsprayattack"}
    ,{"name" : "Beaming", "skillName" : "beamburstattack"}
    ,{"name" : "Beetle-Vomiting", "skillName" : "beetleswarmattack"}
    ,{"name" : "Bloody", "skillName" : "bloodvomitattack"}
    ,{"name" : "Ancient Flame", "skillName" : "blueflameattack"}
    ,{"name" : "Boney", "skillName" : "bonerainattack"}
    ,{"name" : "Bubbler", "skillName" : "bubbleblastattack"}
    ,{"name" : "Burning Halo", "skillName" : "burninghaloattack"}
    ,{"name" : "Cell Shocker", "skillName" : "cellblastattack"}
    ,{"name" : "Shadowy", "skillName" : "darkgasattack"}
    ,{"name" : "Frost-Graviting", "skillName" : "darkgravityballattack"}
    ,{"name" : "Barbed", "skillName" : "doublebarbsprayattack"}
    ,{"name" : "Phlegmatic", "skillName" : "explosivephlegmattack"}
    ,{"name" : "Watching", "skillName" : "eyeballshotattack"}
    ,{"name" : "Optic", "skillName" : "eyeballsprayattack"}
    ,{"name" : "Fireball", "skillName" : "fireballattack"}
    ,{"name" : "Fire Swirl", "skillName" : "fireswirlattack"}
    ,{"name" : "Toxic", "skillName" : "fishbreathattack"}
    ,{"name" : "Flame Burst", "skillName" : "flameburstattack"}
    ,{"name" : "Fly-Vomiting", "skillName" : "flyswarmattack"}
    ,{"name" : "Belching", "skillName" : "gasbelchattack"}
    ,{"name" : "Glittering", "skillName" : "glitterattack"}
    ,{"name" : "Ice Blasting", "skillName" : "iceblastattack"}
    ,{"name" : "Icy Shooter", "skillName" : "iceshotattack"}
    ,{"name" : "Inky", "skillName" : "inksprayattack"}
    ,{"name" : "Leafy", "skillName" : "leafygustattack"}
    ,{"name" : "Light", "skillName" : "lightballattack"}
    ,{"name" : "Fire-Breathing", "skillName" : "minidragonbreathattack"}
    ,{"name" : "Muddy", "skillName" : "mudballattack"}
    ,{"name" : "Of Zot", "skillName" : "orbofzotsattack", "asSuffix" : true}
    ,{"name" : "Plasmic", "skillName" : "plasmasweepattack"}
    ,{"name" : "Torpedo", "skillName" : "plasmatorpedoattack"}
    ,{"name" : "Putrid", "skillName" : "putridwaveattack"}
    ,{"name" : "Chromatic", "skillName" : "rainbowvomitattack"}
    ,{"name" : "Chomping", "skillName" : "rangedchompattack"}
    ,{"name" : "Gooey", "skillName" : "rockrollattack"}
    ,{"name" : "Stone Cold", "skillName" : "rockshotattack"}
    ,{"name" : "Seeder", "skillName" : "seedspitattack"}
    ,{"name" : "Sharding", "skillName" : "shardsprayattack"}
    ,{"name" : "Shocking", "skillName" : "shockingboltattack"}
    ,{"name" : "Sonic", "skillName" : "shockingwaveattack"}
    ,{"name" : "Of Tobold", "skillName" : "smokeringattack", "asSuffix" : true}
    ,{"name" : "Wheezing ", "skillName" : "snotbubbleattack"}
    ,{"name" : "Snotty", "skillName" : "snotshotattack"}
    ,{"name" : "Wind", "skillName" : "sonicwaveattack"}
    ,{"name" : "Spicy", "skillName" : "spicecloudattack"}
    ,{"name" : "Discharger", "skillName" : "staticdischarge"}
    ,{"name" : "Tentacular", "skillName" : "tentacleshotattack"}
    ,{"name" : "Water", "skillName" : "watergunattack"}
  ]
  ,"monsterTypes" :
  {
    "largeflying" : {
      "variants" : [
        {"name" : "Toaqex", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largebatfroghead"]}
        ,{"name" : "Xeonbat", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largebathead"]}
        ,{"name" : "Zupsoth", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largebughead"]}
        ,{"name" : "Keoselu", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largecheephead"]}
        ,{"name" : "Cloutida", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largecloudhead"]}
        ,{"name" : "Waloth", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largedroopyhead"]}
        ,{"name" : "Klokacle", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largeeaglehead"]}
        ,{"name" : "Ghax", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largeeyeshead"]}
        ,{"name" : "Glostry", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largehairyhead"]}
        ,{"name" : "Krikyte", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largekiwihead"]}
        ,{"name" : "Alliteon", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largepointyhead"]}
        ,{"name" : "Pafaax", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largeproudhead"]}
        ,{"name" : "Scrainax", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largeroughfinhead"]}
        ,{"name" : "Eagatross", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largeseagullhead"]}
        ,{"name" : "Snailean", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largeslughead"]}
        ,{"name" : "Cukree", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largesquatbirdhead"]}
        ,{"name" : "Ciconsel", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largestorkhead"]}
        ,{"name" : "Nipsnea", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largestumpyhead"]}
        ,{"name" : "Ramphasi", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largetoucanhead"]}
        ,{"name" : "Dragoda", "prefix" : "Adult" , "title" : "Large Flying Monster","parts" : ["largeweirdhead"]}
      ]
    }
    ,"smallflying" : {
      "variants" : [
        {"name" : "Toaqex", "title" : "Small Flying Monster","parts" : ["smallbatfroghead"]}
        ,{"name" : "Xeonbat", "title" : "Small Flying Monster","parts" : ["smallbathead"]}
        ,{"name" : "Zupsoth", "title" : "Small Flying Monster","parts" : ["smallbughead"]}
        ,{"name" : "Keoselu", "title" : "Small Flying Monster","parts" : ["smallcheephead"]}
        ,{"name" : "Cloutida", "title" : "Small Flying Monster","parts" : ["smallcloudhead"]}
        ,{"name" : "Waloth", "title" : "Small Flying Monster","parts" : ["smalldroopyhead"]}
        ,{"name" : "Klokacle", "title" : "Small Flying Monster","parts" : ["smalleaglehead"]}
        ,{"name" : "Ghax", "title" : "Small Flying Monster","parts" : ["smalleyeshead"]}
        ,{"name" : "Glostry", "title" : "Small Flying Monster","parts" : ["smallhairyhead"]}
        ,{"name" : "Krikyte", "title" : "Small Flying Monster","parts" : ["smallkiwihead"]}
        ,{"name" : "Alliteon", "title" : "Small Flying Monster","parts" : ["smallpointyhead"]}
        ,{"name" : "Pafaax", "title" : "Small Flying Monster","parts" : ["smallproudhead"]}
        ,{"name" : "Scrainax", "title" : "Small Flying Monster","parts" : ["smallroughfinhead"]}
        ,{"name" : "Eagatross", "title" : "Small Flying Monster","parts" : ["smallseagullhead"]}
        ,{"name" : "Snailean", "title" : "Small Flying Monster","parts" : ["smallslughead"]}
        ,{"name" : "Cukree", "title" : "Small Flying Monster","parts" : ["smallsquatbirdhead"]}
        ,{"name" : "Ciconsel", "title" : "Small Flying Monster","parts" : ["smallstorkhead"]}
        ,{"name" : "Nipsnea", "title" : "Small Flying Monster","parts" : ["smallstumpyhead"]}
        ,{"name" : "Ramphasi", "title" : "Small Flying Monster","parts" : ["smalltoucanhead"]}
        ,{"name" : "Dragoda", "title" : "Small Flying Monster","parts" : ["smallweirdhead"]}
      ]
    }    
	,"sb_smallflyingminiboss" : {
      "variants" : [
        {"name" : "Toaqex", "title" : "^red;Small Flying Monster","parts" : ["smallbatfroghead"]}
        ,{"name" : "Xeonbat", "title" : "^red;Small Flying Monster","parts" : ["smallbathead"]}
        ,{"name" : "Zupsoth", "title" : "^red;Small Flying Monster","parts" : ["smallbughead"]}
        ,{"name" : "Keoselu", "title" : "^red;Small Flying Monster","parts" : ["smallcheephead"]}
        ,{"name" : "Cloutida", "title" : "^red;Small Flying Monster","parts" : ["smallcloudhead"]}
        ,{"name" : "Waloth", "title" : "^red;Small Flying Monster","parts" : ["smalldroopyhead"]}
        ,{"name" : "Klokacle", "title" : "^red;Small Flying Monster","parts" : ["smalleaglehead"]}
        ,{"name" : "Ghax", "title" : "^red;Small Flying Monster","parts" : ["smalleyeshead"]}
        ,{"name" : "Glostry", "title" : "^red;Small Flying Monster","parts" : ["smallhairyhead"]}
        ,{"name" : "Krikyte", "title" : "^red;Small Flying Monster","parts" : ["smallkiwihead"]}
        ,{"name" : "Alliteon", "title" : "^red;Small Flying Monster","parts" : ["smallpointyhead"]}
        ,{"name" : "Pafaax", "title" : "^red;Small Flying Monster","parts" : ["smallproudhead"]}
        ,{"name" : "Scrainax", "title" : "^red;Small Flying Monster","parts" : ["smallroughfinhead"]}
        ,{"name" : "Eagatross", "title" : "^red;Small Flying Monster","parts" : ["smallseagullhead"]}
        ,{"name" : "Snailean", "title" : "^red;Small Flying Monster","parts" : ["smallslughead"]}
        ,{"name" : "Cukree", "title" : "^red;Small Flying Monster","parts" : ["smallsquatbirdhead"]}
        ,{"name" : "Ciconsel", "title" : "^red;Small Flying Monster","parts" : ["smallstorkhead"]}
        ,{"name" : "Nipsnea", "title" : "^red;Small Flying Monster","parts" : ["smallstumpyhead"]}
        ,{"name" : "Ramphasi", "title" : "^red;Small Flying Monster","parts" : ["smalltoucanhead"]}
        ,{"name" : "Dragoda", "title" : "^red;Small Flying Monster","parts" : ["smallweirdhead"]}
      ]
    }
    ,"largefish" : {
      "variants" : [
        {"name" : "Lophigri", "prefix" : "Adult" , "title" : "Large Fish Monster","parts" : ["angler"]}
        ,{"name" : "Glashad", "prefix" : "Adult" , "title" : "Large Fish Monster","parts" : ["barreleye"]}
        ,{"name" : "Blykeg", "title" : "Large Fish Monster","parts" : ["beak"]}
        ,{"name" : "Bloscos", "title" : "Large Fish Monster","parts" : ["bladeplate"]}
        ,{"name" : "Chuklad", "title" : "Large Fish Monster","parts" : ["chuckle"]}
        ,{"name" : "Kognom", "title" : "Large Fish Monster","parts" : ["coelacanth"]}
        ,{"name" : "Nornuke", "title" : "Large Fish Monster","parts" : ["crazy"]}
        ,{"name" : "Eelodile", "title" : "Large Fish Monster","parts" : ["cuteeye"]}
        ,{"name" : "Tringid", "title" : "Large Fish Monster","parts" : ["eyelash"]}
        ,{"name" : "Lobstorka", "title" : "Large Fish Monster","parts" : ["frilledkissing"]}
        ,{"name" : "Carasigoda", "title" : "Large Fish Monster","parts" : ["goldfish"]}
        ,{"name" : "Gliglox", "title" : "Large Fish Monster","parts" : ["kissing"]}
        ,{"name" : "Glaglag", "title" : "Large Fish Monster","parts" : ["leech"]}
        ,{"name" : "Maflipus", "title" : "Large Fish Monster","parts" : ["lipped"]}
        ,{"name" : "Sphyracuda", "title" : "Large Fish Monster","parts" : ["longnose"]}
        ,{"name" : "Istiogrican", "title" : "Large Fish Monster","parts" : ["marlin"]}
        ,{"name" : "Phoconilla", "title" : "Large Fish Monster","parts" : ["porpoise"]}
        ,{"name" : "Erkrith", "title" : "Large Fish Monster","parts" : ["rune"]}
        ,{"name" : "Stigualo", "title" : "Large Fish Monster","parts" : ["shark"]}
        ,{"name" : "Scoracle", "title" : "Large Fish Monster","parts" : ["sharptooth"]}
        ,{"name" : "Mohluns", "title" : "Large Fish Monster","parts" : ["sunfish"]}
        ,{"name" : "Vrundrok", "title" : "Large Fish Monster","parts" : ["tall"]}
        ,{"name" : "Dhuphor", "title" : "Large Fish Monster","parts" : ["trunk"]}
      ]
    }
    ,"fish" : {
      "variants" : [
        {"name" : "Lophigri", "title" : "Small Fish Monster","parts" : ["anglerhead"]}
        ,{"name" : "Glashad", "title" : "Small Fish Monster","parts" : ["barreleyehead"]}
        ,{"name" : "Marcisel", "title" : "Small Fish Monster","parts" : ["blobhead"]}
        ,{"name" : "Gadusigoith", "title" : "Small Fish Monster","parts" : ["codhead"]}
        ,{"name" : "Vodocsh", "title" : "Small Fish Monster","parts" : ["eyehead"]}
        ,{"name" : "Phylumidae", "title" : "Small Fish Monster","parts" : ["fishhead"]}
        ,{"name" : "Eurypharie", "title" : "Small Fish Monster","parts" : ["gulperhead"]}
        ,{"name" : "Thilkied", "title" : "Small Fish Monster","parts" : ["neon1head"]}
        ,{"name" : "Scumbrinides", "title" : "Small Fish Monster","parts" : ["neon2head"]}
        ,{"name" : "Euryhalyncus", "title" : "Small Fish Monster","parts" : ["neon3head"]}
        ,{"name" : "Slolunea", "title" : "Small Fish Monster","parts" : ["pcodhead"]}
        ,{"name" : "Aeqroid", "title" : "Small Fish Monster","parts" : ["robohead"]}
        ,{"name" : "Coleidopoda", "title" : "Small Fish Monster","parts" : ["squid1head"]}
        ,{"name" : "Pholidonite", "title" : "Small Fish Monster","parts" : ["squid2head"]}
        ,{"name" : "Myonerloth", "title" : "Small Fish Monster","parts" : ["squid3head"]}
        ,{"name" : "Vluvono", "title" : "Small Fish Monster","parts" : ["strawhead"]}
        ,{"name" : "Xiphionil", "title" : "Small Fish Monster","parts" : ["swordhead"]}
      ]
    }
    ,"sb_hugebiped" : {
      "variants" : [  
		{"name" : "Abygan", "title" : "^red;Huge Biped Monster" ,"parts" : ["beak"]},
		{"name" : "Carnithrax", "title" : "^red;Huge Biped Monster" ,"parts" : ["dragon"]},
		{"name" : "Volenula", "title" : "^red;Huge Biped Monster" ,"parts" : ["feather"]},
		{"name" : "Bolgnugon", "title" : "^red;Huge Biped Monster" ,"parts" : ["rhino"]}
	  ]
	 }     
	 ,"fuhugebiped" : {
      "variants" : [  
		{"name" : "Abygan", "title" : "^red;Huge Biped Monster" ,"parts" : ["beak"]},
		{"name" : "Carnithrax", "title" : "^red;Huge Biped Monster" ,"parts" : ["dragon"]},
		{"name" : "Volenula", "title" : "^red;Huge Biped Monster" ,"parts" : ["feather"]},
		{"name" : "Bolgnugon", "title" : "^red;Huge Biped Monster" ,"parts" : ["rhino"]}
	  ]
	 } 
	 ,"sb_largebipedminiboss" : {
      "variants" : [
        {"name" : "Wartupine","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["backwardsfin"]}
        ,{"name" : "Spixeol","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["banana"]}
        ,{"name" : "Armazeax","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["bladed"]}
        ,{"name" : "Woleewwi","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["boredbug"]}
        ,{"name" : "Craulqroid","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["cauldron"]}
        ,{"name" : "Ghargiex","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["coffee"]}
        ,{"name" : "Nimeepsee","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["curl"]}
        ,{"name" : "Faustreaks","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["fan"]}
        ,{"name" : "Boplaum","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["finned"]}
        ,{"name" : "Blorsdile","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["floaty"]}
        ,{"name" : "Snaglecroc","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["flower"]}
        ,{"name" : "Toadraxee","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["froggish"]}
        ,{"name" : "Brugafaux","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["fuzzy"]}
        ,{"name" : "Grumbgoc","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["grumpy"]}
        ,{"name" : "Stigleora","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["happy"]}
        ,{"name" : "Staaglauk","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["horned"]}
        ,{"name" : "Waukkocu","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["monkey"]}
        ,{"name" : "Mausidrean","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["mouse"]}
        ,{"name" : "Rhipporea","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["onehorn"]}
        ,{"name" : "Kaursodo","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["owl"]}
        ,{"name" : "Scregmull","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["papermask"]}
        ,{"name" : "Porcuhork","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["pig"]}
        ,{"name" : "Parablumi","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["plain"]}
        ,{"name" : "Weomish","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["rabbit"]}
        ,{"name" : "Brocsarion","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["rhino"]}
        ,{"name" : "Selachigator","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["shark"]}
        ,{"name" : "Xenoderlocus","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["sharpteeth"]}
        ,{"name" : "Antevou","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["shellplate"]}
        ,{"name" : "Taraxedot","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["sphereear"]}
        ,{"name" : "Asterogonia","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["stacked"]}
        ,{"name" : "Pixtrovok","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["star"]}
        ,{"name" : "Cervuqivuk","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["stupid"]}
        ,{"name" : "Oligocondra","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["sucky"]}
        ,{"name" : "Gorselum","prefix" : "Adult", "title" : "^red;Large Biped Monster","parts" : ["sun"]}
      ]
    }	 
	,"largebiped" : {
      "variants" : [
        {"name" : "Wartupine","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["backwardsfin"]}
        ,{"name" : "Spixeol","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["banana"]}
        ,{"name" : "Armazeax","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["bladed"]}
        ,{"name" : "Woleewwi","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["boredbug"]}
        ,{"name" : "Craulqroid","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["cauldron"]}
        ,{"name" : "Ghargiex","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["coffee"]}
        ,{"name" : "Nimeepsee","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["curl"]}
        ,{"name" : "Faustreaks","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["fan"]}
        ,{"name" : "Boplaum","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["finned"]}
        ,{"name" : "Blorsdile","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["floaty"]}
        ,{"name" : "Snaglecroc","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["flower"]}
        ,{"name" : "Toadraxee","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["froggish"]}
        ,{"name" : "Brugafaux","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["fuzzy"]}
        ,{"name" : "Grumbgoc","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["grumpy"]}
        ,{"name" : "Stigleora","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["happy"]}
        ,{"name" : "Staaglauk","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["horned"]}
        ,{"name" : "Waukkocu","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["monkey"]}
        ,{"name" : "Mausidrean","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["mouse"]}
        ,{"name" : "Rhipporea","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["onehorn"]}
        ,{"name" : "Kaursodo","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["owl"]}
        ,{"name" : "Scregmull","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["papermask"]}
        ,{"name" : "Porcuhork","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["pig"]}
        ,{"name" : "Parablumi","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["plain"]}
        ,{"name" : "Weomish","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["rabbit"]}
        ,{"name" : "Brocsarion","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["rhino"]}
        ,{"name" : "Selachigator","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["shark"]}
        ,{"name" : "Xenoderlocus","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["sharpteeth"]}
        ,{"name" : "Antevou","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["shellplate"]}
        ,{"name" : "Taraxedot","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["sphereear"]}
        ,{"name" : "Asterogonia","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["stacked"]}
        ,{"name" : "Pixtrovok","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["star"]}
        ,{"name" : "Cervuqivuk","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["stupid"]}
        ,{"name" : "Oligocondra","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["sucky"]}
        ,{"name" : "Gorselum","prefix" : "Adult", "title" : "Large Biped Monster","parts" : ["sun"]}
      ]
    }
    ,"smallbiped" : {
      "variants" : [
        {"name" : "Wartupine", "title" : "Small Biped Monster","parts" : ["backwardsfin"]}
        ,{"name" : "Spixeol", "title" : "Small Biped Monster","parts" : ["banana"]}
        ,{"name" : "Armazeax", "title" : "Small Biped Monster","parts" : ["bladed"]}
        ,{"name" : "Woleewwi", "title" : "Small Biped Monster","parts" : ["boredbug"]}
        ,{"name" : "Craulqroid", "title" : "Small Biped Monster","parts" : ["cauldron"]}
        ,{"name" : "Ghargiex", "title" : "Small Biped Monster","parts" : ["coffee"]}
        ,{"name" : "Nimeepsee", "title" : "Small Biped Monster","parts" : ["curl"]}
        ,{"name" : "Faustreaks", "title" : "Small Biped Monster","parts" : ["fan"]}
        ,{"name" : "Boplaum", "title" : "Small Biped Monster","parts" : ["finned"]}
        ,{"name" : "Blorsdile", "title" : "Small Biped Monster","parts" : ["floaty"]}
        ,{"name" : "Snaglecroc", "title" : "Small Biped Monster","parts" : ["flower"]}
        ,{"name" : "Toadraxee", "title" : "Small Biped Monster","parts" : ["froggish"]}
        ,{"name" : "Brugafaux", "title" : "Small Biped Monster","parts" : ["fuzzy"]}
        ,{"name" : "Grumbgoc", "title" : "Small Biped Monster","parts" : ["grumpy"]}
        ,{"name" : "Stigleora", "title" : "Small Biped Monster","parts" : ["happy"]}
        ,{"name" : "Staaglauk", "title" : "Small Biped Monster","parts" : ["horned"]}
        ,{"name" : "Waukkocu", "title" : "Small Biped Monster","parts" : ["monkey"]}
        ,{"name" : "Mausidrean", "title" : "Small Biped Monster","parts" : ["mouse"]}
        ,{"name" : "Rhipporea", "title" : "Small Biped Monster","parts" : ["onehorn"]}
        ,{"name" : "Kaursodo", "title" : "Small Biped Monster","parts" : ["owl"]}
        ,{"name" : "Scregmull", "title" : "Small Biped Monster","parts" : ["papermask"]}
        ,{"name" : "Porcuhork", "title" : "Small Biped Monster","parts" : ["pig"]}
        ,{"name" : "Parablumi", "title" : "Small Biped Monster","parts" : ["plain"]}
        ,{"name" : "Weomish", "title" : "Small Biped Monster","parts" : ["rabbit"]}
        ,{"name" : "Brocsarion", "title" : "Small Biped Monster","parts" : ["rhino"]}
        ,{"name" : "Selachigator", "title" : "Small Biped Monster","parts" : ["shark"]}
        ,{"name" : "Xenoderlocus", "title" : "Small Biped Monster","parts" : ["sharpteeth"]}
        ,{"name" : "Antevou", "title" : "Small Biped Monster","parts" : ["shellplate"]}
        ,{"name" : "Taraxedot", "title" : "Small Biped Monster","parts" : ["sphereear"]}
        ,{"name" : "Asterogonia", "title" : "Small Biped Monster","parts" : ["stacked"]}
        ,{"name" : "Pixtrovok", "title" : "Small Biped Monster","parts" : ["star"]}
        ,{"name" : "Cervuqivuk", "title" : "Small Biped Monster","parts" : ["stupid"]}
        ,{"name" : "Oligocondra", "title" : "Small Biped Monster","parts" : ["sucky"]}
        ,{"name" : "Gorselum", "title" : "Small Biped Monster","parts" : ["sun"]}
      ]
    }
    ,"sb_largequadrupedminiboss" : {
      "variants" : [
        {"name" : "Anthurix","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["arrow"]}
        ,{"name" : "Ursukrea","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["bear"]}
        ,{"name" : "Gerakavic","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["bigfin"]}
        ,{"name" : "Ornicaurus","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["bill"]}
        ,{"name" : "Lambeonix","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["bladed"]}
        ,{"name" : "Buffalufa","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["buffalo"]}
        ,{"name" : "Antaaduku","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["centaur"]}
        ,{"name" : "Plaaroling","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["chainsaw"]}
        ,{"name" : "Cervuskraug","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["claw"]}
        ,{"name" : "Ruamdrysh","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["crazy"]}
        ,{"name" : "Khaivrix","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["creepy"]}
        ,{"name" : "Palacervus","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["crownhead"]}
        ,{"name" : "Testunipedia","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["curled"]}
        ,{"name" : "Myrmedonta","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["curlednose"]}
        ,{"name" : "Piribairdi","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["cutestripey"]}
        ,{"name" : "Scolecoipus","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["dogsnake"]}
        ,{"name" : "Priocinctus","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["domeplate"]}
        ,{"name" : "Strophygius","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["doublejaw"]}
        ,{"name" : "Varantheno","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["dragon"]}
        ,{"name" : "Barbucyprae","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["droopy"]}
        ,{"name" : "Oculytraptus","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["eyeball"]}
        ,{"name" : "Rangyphurus","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["eyentler"]}
        ,{"name" : "Lucormatia","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["eyestalk"]}
        ,{"name" : "Cygulorium","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["fancybird"]}
        ,{"name" : "Lidalampyre","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["fangedshadowy"]}
        ,{"name" : "Ophiuchor","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["floppy"]}
        ,{"name" : "Crocomindor","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["gator"]}
        ,{"name" : "Homirogilan","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["gorilla"]}
        ,{"name" : "Cephaloquikan","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["guarded"]}
        ,{"name" : "Bosquarata","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["horniest"]}
        ,{"name" : "Ulcroik","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["insomniac"]}
        ,{"name" : "Calyptokon","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["lizardshell"]}
        ,{"name" : "Croqionocus","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["minicroc"]}
        ,{"name" : "Angliocroc","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["petal"]}
        ,{"name" : "Ankyphos","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["plated"]}
        ,{"name" : "Alystrodon","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["raptor"]}
        ,{"name" : "Scelipygo","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["relaxed"]}
        ,{"name" : "Arenifodien","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["sandworm"]}
        ,{"name" : "Astagebi","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["scrabhead"]}
        ,{"name" : "Shelphoix","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["shadowy"]}
        ,{"name" : "Scukrul","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["skullbuffalo"]}
        ,{"name" : "Ghostraik","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["soulless"]}
        ,{"name" : "Psychromid","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["squoid"]}
        ,{"name" : "Tirusairdi","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["tapir"]}
        ,{"name" : "Ictiocyprin","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["teethy"]}
        ,{"name" : "Rosmadenus","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["thintusk"]}
        ,{"name" : "Poelanuran","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["toad"]}
        ,{"name" : "Xorgros","prefix" : "Adult", "title" : "^red;Large Quadruped Monster","parts" : ["verticaleye"]}
        ]
    },"largequadruped" : {
      "variants" : [
        {"name" : "Anthurix","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["arrow"]}
        ,{"name" : "Ursukrea","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["bear"]}
        ,{"name" : "Gerakavic","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["bigfin"]}
        ,{"name" : "Ornicaurus","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["bill"]}
        ,{"name" : "Lambeonix","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["bladed"]}
        ,{"name" : "Buffalufa","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["buffalo"]}
        ,{"name" : "Antaaduku","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["centaur"]}
        ,{"name" : "Plaaroling","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["chainsaw"]}
        ,{"name" : "Cervuskraug","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["claw"]}
        ,{"name" : "Ruamdrysh","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["crazy"]}
        ,{"name" : "Khaivrix","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["creepy"]}
        ,{"name" : "Palacervus","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["crownhead"]}
        ,{"name" : "Testunipedia","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["curled"]}
        ,{"name" : "Myrmedonta","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["curlednose"]}
        ,{"name" : "Piribairdi","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["cutestripey"]}
        ,{"name" : "Scolecoipus","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["dogsnake"]}
        ,{"name" : "Priocinctus","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["domeplate"]}
        ,{"name" : "Strophygius","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["doublejaw"]}
        ,{"name" : "Varantheno","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["dragon"]}
        ,{"name" : "Barbucyprae","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["droopy"]}
        ,{"name" : "Oculytraptus","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["eyeball"]}
        ,{"name" : "Rangyphurus","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["eyentler"]}
        ,{"name" : "Lucormatia","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["eyestalk"]}
        ,{"name" : "Cygulorium","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["fancybird"]}
        ,{"name" : "Lidalampyre","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["fangedshadowy"]}
        ,{"name" : "Ophiuchor","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["floppy"]}
        ,{"name" : "Crocomindor","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["gator"]}
        ,{"name" : "Homirogilan","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["gorilla"]}
        ,{"name" : "Cephaloquikan","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["guarded"]}
        ,{"name" : "Bosquarata","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["horniest"]}
        ,{"name" : "Ulcroik","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["insomniac"]}
        ,{"name" : "Calyptokon","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["lizardshell"]}
        ,{"name" : "Croqionocus","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["minicroc"]}
        ,{"name" : "Angliocroc","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["petal"]}
        ,{"name" : "Ankyphos","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["plated"]}
        ,{"name" : "Alystrodon","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["raptor"]}
        ,{"name" : "Scelipygo","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["relaxed"]}
        ,{"name" : "Arenifodien","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["sandworm"]}
        ,{"name" : "Astagebi","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["scrabhead"]}
        ,{"name" : "Shelphoix","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["shadowy"]}
        ,{"name" : "Scukrul","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["skullbuffalo"]}
        ,{"name" : "Ghostraik","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["soulless"]}
        ,{"name" : "Psychromid","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["squoid"]}
        ,{"name" : "Tirusairdi","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["tapir"]}
        ,{"name" : "Ictiocyprin","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["teethy"]}
        ,{"name" : "Rosmadenus","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["thintusk"]}
        ,{"name" : "Poelanuran","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["toad"]}
        ,{"name" : "Xorgros","prefix" : "Adult", "title" : "Large Quadruped Monster","parts" : ["verticaleye"]}
        ]
    }
    ,"smallquadruped" : {
      "variants" : [
        {"name" : "Anthurix", "title" : "Small Quadruped Monster","parts" : ["arrowhead"]}
        ,{"name" : "Ursukrea", "title" : "Small Quadruped Monster","parts" : ["bearhead"]}
        ,{"name" : "Gerakavic", "title" : "Small Quadruped Monster","parts" : ["bigfinhead"]}
        ,{"name" : "Ornicaurus", "title" : "Small Quadruped Monster","parts" : ["billhead"]}
        ,{"name" : "Lambeonix", "title" : "Small Quadruped Monster","parts" : ["bladedhead"]}
        ,{"name" : "Buffalufa", "title" : "Small Quadruped Monster","parts" : ["buffalohead"]}
        ,{"name" : "Antaaduku", "title" : "Small Quadruped Monster","parts" : ["centaurhead"]}
        ,{"name" : "Plaaroling", "title" : "Small Quadruped Monster","parts" : ["chainsawhead"]}
        ,{"name" : "Cervuskraug", "title" : "Small Quadruped Monster","parts" : ["clawhead"]}
        ,{"name" : "Ruamdrysh", "title" : "Small Quadruped Monster","parts" : ["crazyhead"]}
        ,{"name" : "Khaivrix", "title" : "Small Quadruped Monster","parts" : ["creepyhead"]}
        ,{"name" : "Palacervus", "title" : "Small Quadruped Monster","parts" : ["crownhead"]}
        ,{"name" : "Testunipedia", "title" : "Small Quadruped Monster","parts" : ["curledhead"]}
        ,{"name" : "Myrmedonta", "title" : "Small Quadruped Monster","parts" : ["curlednosehead"]}
        ,{"name" : "Piribairdi", "title" : "Small Quadruped Monster","parts" : ["cutestripeyhead"]}
        ,{"name" : "Scolecoipus", "title" : "Small Quadruped Monster","parts" : ["dogsnakehead"]}
        ,{"name" : "Priocinctus", "title" : "Small Quadruped Monster","parts" : ["domeplatehead"]}
        ,{"name" : "Strophygius", "title" : "Small Quadruped Monster","parts" : ["doublejawhead"]}
        ,{"name" : "Varantheno", "title" : "Small Quadruped Monster","parts" : ["dragonhead"]}
        ,{"name" : "Barbucyprae", "title" : "Small Quadruped Monster","parts" : ["droopyhead"]}
        ,{"name" : "Oculytraptus", "title" : "Small Quadruped Monster","parts" : ["eyeballhead"]}
        ,{"name" : "Rangyphurus", "title" : "Small Quadruped Monster","parts" : ["eyentlerhead"]}
        ,{"name" : "Lucormatia", "title" : "Small Quadruped Monster","parts" : ["eyestalkhead"]}
        ,{"name" : "Cygulorium", "title" : "Small Quadruped Monster","parts" : ["fancybirdhead"]}
        ,{"name" : "Lidalampyre", "title" : "Small Quadruped Monster","parts" : ["fangedshadowyhead"]}
        ,{"name" : "Ophiuchor", "title" : "Small Quadruped Monster","parts" : ["floppyhead"]}
        ,{"name" : "Crocomindor", "title" : "Small Quadruped Monster","parts" : ["gatorhead"]}
        ,{"name" : "Homirogilan", "title" : "Small Quadruped Monster","parts" : ["gorillahead"]}
        ,{"name" : "Cephaloquikan", "title" : "Small Quadruped Monster","parts" : ["guardedhead"]}
        ,{"name" : "Bosquarata", "title" : "Small Quadruped Monster","parts" : ["horniesthead"]}
        ,{"name" : "Ulcroik", "title" : "Small Quadruped Monster","parts" : ["insomniachead"]}
        ,{"name" : "Calyptokon", "title" : "Small Quadruped Monster","parts" : ["lizardshellhead"]}
        ,{"name" : "Croqionocus", "title" : "Small Quadruped Monster","parts" : ["minicrochead"]}
        ,{"name" : "Angliocroc", "title" : "Small Quadruped Monster","parts" : ["petalhead"]}
        ,{"name" : "Ankyphos", "title" : "Small Quadruped Monster","parts" : ["platedhead"]}
        ,{"name" : "Alystrodon", "title" : "Small Quadruped Monster","parts" : ["raptorhead"]}
        ,{"name" : "Scelipygo", "title" : "Small Quadruped Monster","parts" : ["relaxedhead"]}
        ,{"name" : "Arenifodien", "title" : "Small Quadruped Monster","parts" : ["sandwormhead"]}
        ,{"name" : "Astagebi", "title" : "Small Quadruped Monster","parts" : ["scrabhead"]}
        ,{"name" : "Shelphoix", "title" : "Small Quadruped Monster","parts" : ["shadowyhead"]}
        ,{"name" : "Scukrul", "title" : "Small Quadruped Monster","parts" : ["skullbuffalohead"]}
        ,{"name" : "Ghostraik", "title" : "Small Quadruped Monster","parts" : ["soullesshead"]}
        ,{"name" : "Psychromid", "title" : "Small Quadruped Monster","parts" : ["squoidhead"]}
        ,{"name" : "Tirusairdi", "title" : "Small Quadruped Monster","parts" : ["tapirhead"]}
        ,{"name" : "Ictiocyprin", "title" : "Small Quadruped Monster","parts" : ["teeth"]}
        ,{"name" : "Rosmadenus", "title" : "Small Quadruped Monster","parts" : ["thintuskhead"]}
        ,{"name" : "Poelanuran", "title" : "Small Quadruped Monster","parts" : ["toadhead"]}
        ,{"name" : "Xorgros", "title" : "Small Quadruped Monster","parts" : ["verticaleyehead"]}
        ]
    }
    ,"bonebird" : {
      "variants" : [
        {"name" : "Coelosteos", "title" : "Undead Bird Monster","parts" : ["bonehead"], "addSkillPrefix" : false}
        //,{"name" : "Bone Birdo", "title" : "Undead Bird Monster","parts" : ["bonehead","bonebody","bone"]}
        ]
    }
  }
}
