{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/party/header.png",
      "fileBody" : "/interface/party/body.png",
      "fileFooter" : "/interface/party/footer.png"
    },
    "titleLabel" : {
      "type" : "label",
      "position" : [90, 76],
      "fontSize" : 16,
      "hAnchor" : "mid",
      "value" : "RENAME SHIP PET"
    },
    "txtboxName" : {
      "type" : "textbox",
      "position" : [39, 54],
      "focus" : true,
      "hint" : "Pet name...",
      "enterKey" : "btnOk",
      "escapeKey" : "btnClose",
      "maxWidth" : 82
    },
    "btnOk" : {
      "type" : "button",
      "base" : "/interface/title/delete/cancelDown.png",
      "hover" : "/interface/title/delete/cancel.png",
      "position" : [96, 31],
      "caption" : "Accept"
    },
    "btnClose" : {
      "type" : "button",
      "caption" : "Cancel",
      "base" : "/interface/title/delete/cancelDown.png",
      "hover" : "/interface/title/delete/cancel.png",
      "press" : "/interface/title/delete/cancel.png",
      "position" : [12, 31]
    }
  },

  "scriptWidgetCallbacks" : [
    "txtboxName",
    "btnOk",
    "btnClose"
  ],
  "scripts" : ["/interface/scripted/shippetrenamer/shippetrenamer.lua"],
  "scriptDelta" : 1
}
