{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "BottomRight",
      "offset" : [3, 1],
      "positionLocked" : true
    },
    "background" : {
      "zlevel" : -1,
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/scripted/bookofspirits/background.png",
      "fileFooter" : ""
    },
    "namePlateLayout" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [0,0,172,35 ],
      "visible" : true,
      "children" : {
        "entityName" : {
          "zlevel" : 1,
          "type" : "label",
          "position" : [86, 17],
          "color" : [255, 255, 255],
          "value" : "",
          "fontSize" : 10,
          "hAnchor" : "mid",
          "vAnchor" : "mid"
        },
        "capturable" : {
            "visible" : false,
            "type" : "image",
            "file" :  "/interface/scripted/bookofspirits/capturable.png",
            "position" : [0, 0]
        },
        "capturable_glow" : {
            "visible" : false,
            "zlevel" : 1,
            "type" : "image",
            "file" :  "/interface/scripted/bookofspirits/capturable_glow.png",
            "position" : [0, 0]
        },
        "entityType" : {
          "zlevel" : 1,
          "type" : "label",
          "position" : [87, 7],
          "color" : [255, 255, 255],
          "value" : "",
          "fontSize" : 8,
          "hAnchor" : "mid",
          "vAnchor" : "mid"
        },
        "bg" : {
            "type" : "image",
            "file" :  "/interface/scripted/bookofspirits/bg.png",
            "position" : [0, 0]
        },
        "bgType" : {
            "type" : "image",
            "file" :  "/interface/scripted/bookofspirits/bgtype.png",
            "position" : [0, 0],
            "visible" : false
        }
      }
    }
  },
  // Star Extension Feature
    "paneLayer" : "hud",
    "dismissable" : false,
  // Star Extension Feature
  "scripts" : ["/interface/scripted/bookofspirits/bookofspirits.lua"],
  "scriptDelta" : 5
}
